body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-style: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.00735em;
}

label{
  display: inline-block;
  padding-top: 40px;
  color: #909090;
  font-size: 12px;
}

p{
  margin: 0;
}

.short-input{
  width: 193px !important;
  margin-right: 4px;
}

.input-text{
  width: 390px;
  height: 28px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #909090;
}

.input-text:focus{
  box-sizing: border-box;
  border-bottom: 2px solid #1473e6;
  outline: none;
}

.input-button{
  height: 50px;
  padding: 0 55px;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  background-color: #ffc617;
  margin-top: 20px;
  margin-left: auto;
  display: flex;
  font-size: 16px;
}

.input-button:hover{
  background-color: #f7c01a;
}

.input-button:focus{
  background-color: #f4be1b;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginPage-container{
  min-height: 100vh;
  width: 100%;
  vertical-align: middle;
}

.logo-container{
  display: inline-block;
  width: 50%;
  text-align: right;
  margin: 45vh 0 0 -220px;
  position: fixed;
}

.loginPage-form-container{
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  padding-left: 50%;
}

.loginPage-form{
  display: inline-block;
  background-color: white;
  padding: 25px 50px 75px 50px;
  border-radius: 3px;
}

.simpleLink{
  color: #1473e6;
}

.simpleLink:hover{
  color: blue;
  cursor: default;
}

.header{
  position: absolute;
}